*{
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
body {
  margin: 0px;
  width: 86%;
}
ul {
  list-style: none;
}
.topbar-menu {
  color: #919191;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 12px;
}
.topbar { display:inline;}
.topbar li {
  list-style-type: none;
  float: left;
}
.topbar-list {
  padding-left: 31px;
  padding-top: 2px;
}
#logo {
  color: #696F75;
  font-size: 15px;
}
.pricing {
  color: #292929;
}

.background {
  position: relative;
  height: 328px;
  overflow: hidden;
  margin-top: 0px;
}
.background p {
  position: absolute;
  color: #FEFEFE;
  text-align: center;
  padding: 50px;
}

.plan {
  overflow: auto;
  text-align:center;
  padding: 17px;
  margin-left: 130px;
}
.plan-type {
  float:left;
  padding: 7px;
}
.plana-header {
  background-color: #519251;
  color: #F7F8FB;
}
.plana-header .per-month { color: #ABCBAB}
.planb-header {
  background-color: #2C4985;
  color: #F7F8FB;
}
.planb-header .per-month { color: #97A4C3}
.planc-header {
  background-color: #111111;
  color: #F7F8FB;
}
.planc-header .per-month { color: #898989}
.personal { width: 255px; }
.business { width: 255px; }
.enterprise { width: 255px; }
.type {
  padding-top:25px;
  padding-right: 50px;
  padding-left: 50px;
  letter-spacing: 2px;
  font-size: 15px;
}
.price {
  font-size: 75px;
  font-weight: lighter;
}
.per-month {
  padding-bottom: 30px;
}
.options {
  color: #748085;
  font-size: 14px;
  background-color: #F6F6F6;
  padding-top: 9px;
  padding-bottom: 11px;
  letter-spacing: -1px;
}
.choose-option {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 11px
}

.selection {
  overflow: auto;
  clear: both;
  padding-top: 22px;
  padding-left: 160px;
  padding-right: 100px;
}
.selection-group {
  float: left;
  width: 360px;
  margin-right: 25px;
  margin-left: 15px;
  padding-bottom: 22px;
}
.selection-title {
  letter-spacing: 4px;
  font-size: 17px;
}
.selection-detail {
  font-size: 13px;
  color: #4F5D63;
  line-height: 21.5px;
  padding-top: 12px;
  padding-bottom: 38px;
}


.footer {
  background-color: black;
  color: #747474;
  padding: 5px;
  margin-top: -50px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 13px;
}
.footer p a {
  color: white;
  text: bold;
}
