*{
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
body {
  margin: 0px;
  width: 86%;
}
ul {
  list-style: none;
}
.topbar-menu {
  color: #919191;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 12px;
}
.topbar { display:inline;}
.topbar li {
  list-style-type: none;
  float: left;
}
.topbar-list {
  padding-left: 31px;
  padding-top: 2px;
}
#logo {
  color: #696F75;
  font-size: 15px;
}
.pricing {
  color: #292929;
}

.background {
  position: relative;
  height: 328px;
  overflow: hidden;
  margin-top: -5px;
}
.background p {
  position: absolute;
  color: #FEFEFE;
  text-align: center;
  padding: 50px;
}

.plan {
  overflow: auto;
  text-align:center;
  padding: 50px;
}
.plan-type {
  float:left;
}
.plana-header {
  background-color: #519251;
  color: #F7F8FB;
}
.planb-header {
  background-color: #2C4985;
  color: #F7F8FB;
}
.planc-header {
  background-color: #111111;
  color: #F7F8FB;
}

.type {}
.price {}
.per-month {}
  
.plan-options .options {
  color: #748085;
  font-size: 14px;
  background-color: #F6F6F6;
  border: #E3E3E3;
}

.type {

}
.price {

}
.per-month {

}

.selection {
  overflow: auto;
  clear: both;
}
.selection-type {
  float: left;
}














.footer {
  background-color: black;
  color: #747474;
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 13px;
}
.footer p a {
  color: white;
  text: bold;
}
